@import "compass/reset";
@import "compass/css3";

/*
hab bei transition duration eine meldung,
dass die 0 ein fehler ist, macht es was aus?
 */

@mixin borderMargin($color){
    border:1px solid $color;
    margin:10px 5px 10px 5px;
}
@mixin withBackground($with,$color){
    width: $with;
    background-color: $color;
}
@mixin floatWith($with){
    width:$with;
    float:left;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* hab für smoothing nichts gefuden eventuell
    @include font-smoothing:antialiased;
     */
    font-family:'Open Sans', sans-serif;
    #main{
        width: 990px;
        margin:0 auto;

        input[type="text"],input[type="password"] {
            @include borderMargin(#000);
            padding:5px;
            width: 180px;
        }
        input[type="submit"] {
            @include borderMargin(#000);
            border-radius:0;
            background-color:#fafafa;
            cursor:pointer;
        }

        label {
            margin-left:5px;
        }
    }
}

.passwordField {
    @include floatWith(300px);
}

.passwordFeedback {
    @include floatWith(250px);
}

.feedback{
    display: none;
    margin:10px 5px 10px 5px;
    font-size:11px;
    font-weight:600;
    .error{
        color:#d9534f;
    }
    .warning {
        color:#f0ad4e;
    }
    .success {
        color:#5cb85c;
    }
}

.strengthIndicator {
    @include borderMargin(#d3d3d3);
    width: 200px;
    padding:5px;
    height: 13px;

    &::before{
        content: "";
        display: block;
        height: 100%;

        @include transition-property(with);
        @include transition-delay(0);
        @include transition-duration(250ms);
        @include transition-timing-function(linear);
    }
}

.passwordWrapper::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

.error{
    .strengthIndicator::before {
        @include withBackground(10%,#d9534f);
    }
    .feedback.error {
        display: block;
    }
}

.warning{
    .strengthIndicator::before {
        @include withBackground(60%,#f0ad4e);
    }
    .feedback.warning {
        display: block;
    }
}

.success {
    .strengthIndicator::before {
        @include withBackground(100%,#5cb85c);
    }
    .feedback.success {
        display: block;
    }
}